@using TestPlatform.Models;x

@model IEnumerable<Test>
@{
    ViewData["Title"] = "Home Page";
    var count = 0;
}

@foreach(var test in Model)
{
    count++;
    <a href="Test/GetTest/@test.Id"><h3>@count. @test.Title</h3></a>
}