<form asp-action="Create" asp-controller="Test">
    <div class="container">
        <h1>ტესტის შექმნა</h1>
        <div class="form-group">
            <label for="Title">ტესტის სათაური:</label>
            <input type="text" class="form-control" id="Title" name="Title">
        </div>
        <button type="submit" class="btn btn-primary" id="saveButton">შენახვა</button>
    </div>
</form>